input, button, a { outline:none }

body { font-size:16px; line-height:1.6em; font-family: "Roboto", sans-serif; background-color:#fff }

.container { position:absolute; left:0; right:0; top:0; bottom:0; overflow:hidden; }
.btn {
  background:transparent; border:1px solid #ccc;
  &:hover { background:#eee; }
}

/* tistory */
.tistory { color:#f1631b; }
.btn {
  &.btn_tistory {
    background-color:#000;
    color:#fff;
    border:0;
    border-radius: 18px;

    &:hover {
      background-color: #f54;
    }
    &:disabled {
      background-color: #b9b9b9;
    }
  }
}
