input, button, a { outline:none }

body { font-size:16px; line-height:1.6em; font-family: "Roboto", sans-serif; }

.container { position:absolute; left:0; right:0; top:0; bottom:0; overflow:hidden; }
.btn { background:transparent; border:1px solid #ccc }
.btn:hover { background:#eee }

/* tistory */
.tistory { color:#f1631b; }
.btn_tistory { background:#f1631b; color:#fff; border:0; }
.btn_tistory:hover { background: #eb531f}

/* ready */
.ready { position:absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%); text-align:center }
.btn_connect { width:300px; height:80px; font-size:16px }

/* index */
.profile { text-align:center; margin:50px auto 20px }
.profile .btn_disconnect { margin-top:10px; width:200px; font-size:14px }

.blog_list { width: 400px; margin-left: -200px; overflow-y: auto; position: absolute; left: 50%; top: 273px; bottom:50px }
.blog_list .blog_url { color:#aaa }

.svg_profile { width:50px; height:50px }
.svg_profile circle { stroke:#ccc; fill:#f4f4f4; stroke-width:0; cx:25px; cy:25px; r:23px }
.svg_profile text { transform: translate(25px, 32px); text-anchor:middle; font-size:20px; stroke:#ccc; fill:#ccc; text-transform: uppercase; }

/* sidebar */
.sidebar { position: absolute; top: 0; bottom: 0; left: 0; width: 300px; background: #eee; }

/* header */
.header { height: 50px; background: #ddd; }
.header .btn { position:absolute; top:10px; width:30px; height:30px; border:0; padding:0 }
.header .btn:hover { background:transparent }
.header .btn:hover svg g { stroke:#333 }
.header .btn_back { left:5px }
.header .btn_add { right:5px }
.header .current_blog { overflow:hidden; height:30px; position:absolute; left:40px; right:40px; top:10px; padding-left:40px}
.header .current_blog .blog_image { width:30px; height:30px; position:absolute; left:0; top:0 }
.header .current_blog .blog_image img { width:30px; height:30px; border-radius:15px }
.header .current_blog .blog_image .svg_profile { width:30px; height:30px; }
.header .current_blog .blog_image .svg_profile circle { cx:15px; cy:15px; r:14px }
.header .current_blog .blog_image .svg_profile text { transform: translate(15px, 18px); font-size:14px; }
.header .current_blog .blog_title { line-height: 30px; font-size:16px; color:#333; font-weight:bold }
.header .title { color: #eee; font-weight: bold; line-height: 40px; padding: 5px 20px; }

.list { margin: 0; padding:0; position:absolute; left:0; width:300px; top:56px; bottom:0; overflow:auto }
.list .item .item_date { color: #999; }
.list .item .item_category { color:#f1631b; margin-right:5px }
.list .item .item_visibility { color: #999; margin-left:5px }
.list .item .item_title { overflow:hidden; text-overflow: ellipsis }
.list .item .item_info { display:block; font-size:11px; }
.list .item.selected { background:#fff }
.list .btn_add { display: block; color: #aaa; cursor: pointer; font-size: 12px; text-align: center; padding: 10px; text-decoration: none; }
.list .btn_add:hover { background: #263238; color: #ccc; }
.list .btn_del { position: absolute; right: 3px; top: 3px; color: #ccc; cursor: pointer; border: 0; background: transparent; display: none; }

.content_wrap { position: absolute; left: 300px; right: 0; top:0; bottom: 0 }
.content_empty_message { position:absolute; top:50%; left:0; right:0; margin-top:-30px; height:60px; text-align:center; font-size:24px; color:#ccc }

.loading_area {position:fixed;left:0;right:0;top:0;bottom:0; background-color:#666; opacity: 0.7; z-index: 2000}
.loading_inner {position:absolute; left:50%; top:50%; margin-left:-30px; margin-top: -30px }

.viewer { position:absolute; top:0; bottom:0; left:0; right:0; overflow:auto }
.viewer .viewer_header { margin:50px auto; padding-bottom:20px; border-bottom:1px solid #eee; text-align:center; max-width:700px }
.viewer .viewer_header .viewer_category { font-size:14px; color:#f1631b }
.viewer .viewer_header .viewer_title { font-size:32px; margin: 16px 0; word-wrap: break-word; line-height: 130% }
.viewer .viewer_header .viewer_btn { position:absolute; right:20px; top:20px }
.viewer .viewer_content { margin:20px auto 40px; word-wrap: break-word; max-width:700px }
.viewer .viewer_tags { display: flex; flex-wrap: wrap; margin: 20px auto; max-width:700px }

.editor_wrap { position:absolute; z-index:2; top:0; bottom:0; left:0; right:0; overflow:hidden; background-color:rgba(255, 255, 255, 0.7) }
.editor { position:absolute; left:0; right:0; top:0; bottom:0; background-color:#fff }
.editor .mce-tinymce,
.editor .Quill,
.editor .ReactCodeMirror { position: absolute; top: 56px; bottom: 0; left: 0; right: 0 }
.editor .CodeMirror { height: 100%; padding:0 15px; font-family:Menlo, Consolas, 'DejaVu Sans Mono', monospace; background:transparent }
.editor .ql-container { font-size:16px }
.editor .mce-tinymce { border:0; background-color:#fff }
.editor .mce-tinymce .mce-toolbar-grp { border:1px solid #eee; background-color:#fff }
.editor .mce-tinymce .mce-toolbar-grp .mce-btn { background-color:#fff }
.editor .mce-tinymce .mce-edit-area { border:0; position: absolute; top: 38px; bottom: 0; left: 0; right: 0; }

.editor .statusbar { position: absolute; top: 0; height: 50px; left: 0; right: 0; background:#ddd; }
.editor .statusbar .title:before { content:"# " }
.editor .statusbar .title { position:absolute; left:15px; font-size:24px; bottom:10px }
.editor .statusbar .title input { width:500px; font-size:24px; border:0; background:transparent }
.editor .statusbar .btn_wrap { position: absolute; right: 10px; bottom: 10px; }
.editor .statusbar .btn_wrap .btn { height: 30px; padding: 0 15px; background:#666; border:0; color:#ccc }
.editor .statusbar .btn_wrap .btn:hover { background:#777 }
.editor .statusbar .btn_wrap .btn:disabled { background:#444; color:#666 }
.editor .statusbar .btn_wrap .btn.active { background:#777 }
.editor .statusbar .btn_wrap .btn_info { margin-right:5px; border-radius:15px }

.btn_change_editor { position:absolute; right:40px; bottom:30px; z-index:10 }
.preview_content { margin-top:25px }

@media (min-width: 700px) {
	.editor .mce-tinymce,
	.editor .Quill,
	.editor .ReactCodeMirror { width:700px !important; left:50%; right:inherit; transform:translateX(-50%) }
}
@media (max-width: 1040px) {
	.viewer .viewer_header,
	.viewer .viewer_content,
	.viewer .viewer_tags { margin-left:20px; margin-right:20px }
}

/* quill editor */
.Quill .ql-toolbar.ql-snow { border:0 }
.Quill .ql-container.ql-snow { height:auto; position:absolute; top:40px; bottom:0; left:0; right:0; border:0 }
.Quill blockquote:before,
.Quill blockquote:after { content:'' }
.Quill p { margin-bottom:16px }
