input, button, a { outline:none }

.container { position:absolute; left:0; right:0; top:0; bottom:0 }
.btn { background:transparent; border:1px solid #ccc }
.btn:hover { background:#eee }

/* tistory */
.tistory { color:#f1631b; }
.btn_tistory { background:#f1631b; color:#fff; border:0; }
.btn_tistory:hover { background: #eb531f}

/* ready */
.ready { position:absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%); text-align:center }
.btn_connect { width:300px; height:80px; font-size:16px }

/* index */
.profile { text-align:center; margin:50px auto 20px }
.profile .profile_image { display:block; margin:0 auto 10px; width:50px; height:50px; background:transparent }
.profile .profile_image img { width:50px; height:50px; border-radius:25px }
.profile .profile_item { display:block }
.profile .btn_disconnect { margin-top:10px; width:200px; height:40px; font-size:14px }

.blog_list { width:400px; margin:50px auto 30px }
.blog_list .blog_item { padding:10px 10px 10px 70px; min-height:50px; position:relative; margin-bottom:10px; border-radius:5px }
.blog_list .blog_item:hover { box-shadow:#ccc 0px 1px 5px; cursor:pointer }
.blog_list .blog_item .blog_image { position:absolute; left:10px; top:10px; width:50px; height:50px; background:transparent }
.blog_list .blog_item .blog_image img { width:50px; height:50px; border-radius:25px }
.blog_list .blog_item .blog_title { display:block; font-weight:bold; font-size:1.1em }
.blog_list .blog_item .blog_descroption { display:block; font-size:0.8em; color:#999 }
.blog_list .blog_item .blog_url { display:block; font-size:0.8em; color:#aaa }

.svg_profile { width:50px; height:50px }
.svg_profile circle { stroke:#ccc; fill:#f4f4f4; stroke-width:0; cx:25px; cy:25px; r:23px }
.svg_profile text { transform: translate(25px, 32px); text-anchor:middle; font-size:20px; stroke:#ccc; fill:#ccc; text-transform: uppercase; }

/* sidebar */
.sidebar { position: absolute; top: 0; bottom: 0; left: 0; width: 300px; background: #eee; }

/* header */
.header { height: 50px; background: #ddd; }
.header .btn { position:absolute; top:10px; width:30px; height:30px; border:0; padding:0 }
.header .btn:hover { background:transparent }
.header .btn:hover svg g { stroke:#333 }
.header .btn_back { left:5px }
.header .btn_add { right:5px }
.header .current_blog { overflow:hidden; height:30px; position:absolute; left:40px; right:40px; top:10px; padding-left:40px}
.header .current_blog .blog_image { width:30px; height:30px; position:absolute; left:0; top:0 }
.header .current_blog .blog_image img { width:30px; height:30px; border-radius:15px }
.header .current_blog .blog_image .svg_profile { width:30px; height:30px; }
.header .current_blog .blog_image .svg_profile circle { cx:15px; cy:15px; r:14px }
.header .current_blog .blog_image .svg_profile text { transform: translate(15px, 18px); font-size:14px; }
.header .current_blog .blog_title { line-height: 30px; font-size:16px; color:#333; font-weight:bold }
.header .title { color: #eee; font-weight: bold; line-height: 40px; padding: 5px 20px; }

.list { margin: 0; padding:0; position:absolute; left:0; width:300px; top:56px; bottom:0; overflow:auto }
.list .item {  }
.list .item .item_date { color: #999; }
.list .item .item_category { color:#f1631b; margin-right:5px }
.list .item .item_visibility { color: #999; margin-left:5px }
.list .item .item_title { overflow:hidden; text-overflow: ellipsis }
.list .item .item_info { display:block; font-size:11px; }
.list .item.selected { background:#fff }
.list .btn_add { display: block; color: #aaa; cursor: pointer; font-size: 12px; text-align: center; padding: 10px; text-decoration: none; }
.list .btn_add:hover { background: #263238; color: #ccc; }
.list .btn_del { position: absolute; right: 3px; top: 3px; color: #ccc; cursor: pointer; border: 0; background: transparent; display: none; }

.content_wrap { position: absolute; left: 300px; right: 0; top:0; bottom: 0; overflow:auto }
.content_empty_message { position:absolute; top:50%; left:0; right:0; margin-top:-30px; height:60px; text-align:center; font-size:24px; color:#ccc }

.viewer { padding: 20px }
.viewer_header { margin-bottom:20px; padding-bottom:20px; border-bottom:1px solid #eee }
.viewer_header .viewer_category { font-size:12px; color:#f1631b }
.viewer_header .viewer_title {  }
.viewer_header .viewer_info {  }
.viewer_content { margin:40px 0 }

.editor .empty,
.editor .ReactCodeMirror { position: absolute; top: 50px; bottom: 0; left: 0; right: 0; background:#162228; }
.editor .CodeMirror { height: 100%; padding:0 10px }
.editor .empty p { margin-top:30%; text-align:center; color:#aaa }
.editor .statusbar { position: absolute; top: 0; height: 50px; left: 0; right: 0; background:#ddd; }
.editor .statusbar .title:before { content:"# " }
.editor .statusbar .title { position:absolute; left:15px; font-size:24px; bottom:10px }
.editor .statusbar .title input { width:500px; font-size:24px; border:0; background:transparent }
.editor .statusbar .btn_wrap { position: absolute; right: 10px; bottom: 10px; }
.editor .statusbar .btn_wrap .btn { height: 30px; padding: 0 15px; background:#666; border:0; color:#ccc }
.editor .statusbar .btn_wrap .btn:hover { background:#777 }
.editor .statusbar .btn_wrap .btn:disabled { background:#444; color:#666 }
.editor .statusbar .btn_wrap .btn.active { background:#777 }
.editor .statusbar .btn_wrap .btn_info { margin-right:5px; border-radius:15px }
.editor .info_box { position:absolute; top:70px; left:50%; width:500px; height:300px; margin-left:-250px; background:#fff; box-shadow: #333 0 1px 10px; border-radius:5px; z-index:10 }
.editor .cover { position:absolute; top:50px; bottom:0; left:0; right:0; background:#333; opacity:0.7; z-index:9 }
