@charset "utf-8";

.content .ql-editor { padding:20px 0;word-wrap:break-word; color:#333; font-size:14px }
.content .ql-editor h1 { font-size:2em; margin:2em 0 1em }
.content .ql-editor h2 { font-size:1.5em; margin:2em 0 1em }
.content .ql-editor h3 { font-size:1.2em; margin:2em 0 1em }
.content .ql-editor h4,
.content .ql-editor h5,
.content .ql-editor h6 { font-size:1em; margin:2em 0 1em }
.content .ql-editor p { line-height:1.6em; margin:0 auto 28px}
.content .ql-editor a {color:#3db39e}

.content .ql-editor ul, ol { margin: 0 auto 32px; padding: 0 0 0 10px; }
.content .ql-editor ul li, ol li { margin-left:24px; margin-bottom:10px; }
.content .ql-editor ul li { list-style:disc }
.content .ql-editor ol li { list-style:decimal }

.content .ql-editor blockquote { padding: 10px 20px; margin: 0 auto 28px; border-left:5px solid #eee }
.content .ql-editor blockquote,
.content .ql-editor blockquote p { font-size:18px; line-height:30px }
.content .ql-editor blockquote ol:last-child,
.content .ql-editor blockquote ul:last-child,
.content .ql-editor blockquote p:last-child { margin-bottom:0 }

.content .ql-editor code { font-family: Menlo,Consolas,Monaco,monospace; }
.content .ql-editor li code,
.content .ql-editor p code { padding:2px 5px; border-radius:3px; background:#efefef; color:#333; margin:0 2px; border:1px solid #e0e0e0 }
.content .ql-editor pre { font-size:14px; padding:15px; border-radius:3px; margin-bottom:10px; font-family: Menlo,Consolas,Monaco,monospace; border:1px solid #ddd; background-color:#F6F7F8; margin:28px auto;  overflow:auto }

.content .ql-editor iframe { max-width:100%; display:block; margin:0 auto 20px }
.content .ql-editor figure { margin:0 }
.content .ql-editor img { max-width:100%; height:auto }
.content .ql-editor hr { margin: 3em 5em 3em; border: 0; border-bottom: 1px solid #ccc; }
