.editor_inner {
  outline: none;
  .dropzone_box {
    position:absolute; top:0; bottom:0; left:0; right:0;
    border:3px dashed #999; border-radius:10px;
    background-color:#eee; display:none;
    align-items: center; justify-content: center; z-index:20; color:#999;
  }
  .droppable .dropzone_box { display:flex }
}
