.profile {
  text-align:center;
  margin:50px auto 20px;

  .avatar {
    margin:0 auto;
  }

  .btn_disconnect {
    margin-top:10px;
    width:200px;
    font-size:14px;
  }
}

.blog_list {
  width: 400px; margin-left: -200px; overflow-y: auto; position: absolute; left: 50%; top: 273px; bottom:50px;
  .blog_url {
    color:#aaa;
  }
  .blog_item {
    align-items: flex-start;
  }
}
