.editor_inner {
  .tox:not(.tox-tinymce-inline) .tox-editor-header {
    position:fixed; top:13px; width:700px;
    left: 50%; transform: translate(calc(-50% - 2px),0);
    z-index:10;
    background:transparent;
  }
  .tox-tinymce {
    border:0; background-color:#fff; margin:0 auto;

    .tox-toolbar__primary {
      background: #fffd;
      border-radius: 4px;
      box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    }
    .tox-toolbar-overlord {
      background: transparent;
      .tox-toolbar__group {
        padding: 0 2px;
      }
    }
    .tox-tbtn--bespoke {
      background: transparent;
    }

    .tox-edit-area {
      border:0; margin: 0 auto;
    }
  }
}
