.editor_inner {
  .tox:not(.tox-tinymce-inline) .tox-editor-header {
    position:fixed; top:13px; width:700px;
    left: 50%; transform: translate(calc(-50% - 2px),0);
    z-index:10;
    background:transparent;
  }
  .tox-tinymce {
    border:0; background-color:#fff; margin:0 auto;

    .tox-toolbar__primary {
      background: #fffd;
      border-radius: 4px;
      box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    }
    .tox-toolbar-overlord {
      background: transparent;
      .tox-toolbar__group {
        padding: 0 2px;
      }
    }
    .tox-tbtn--bespoke {
      background: transparent;
    }

    .tox-edit-area {
      border:0; margin: 0 auto;
    }
  }
}

/* photos plugin */
.ico-google-photos {
  display:inline-block; width: 16px; height:16px;
  background:url('../images/google-photos-logo.png') no-repeat; background-size:16px 16px;
}
.tox-container .plugin-google-photos { min-width:640px }

.btn-disconnect-google-photos {
  position: absolute !important; left:0;
}
.plugin-google-photos {
  min-width: 640px; min-height:480px; position: relative;
  .google-photos-wrap {
    position:absolute; top:0; bottom:0; left:0; right:0; overflow:auto;
    .google-photos-cover { display: flex;justify-content: center;align-items: center; height: 100%;}
    .google-photos-footer { display: flex;justify-content: center;align-items: center; height: 100px; width:100%; }
    
    .photos-list {
      position:absolute; top:0; bottom:0; left:0; right:0; overflow:hidden; overflow-y:auto;


      .photos-item-wrap {
        margin: -2px;

        .photos-sub-header {
          clear: both;
          padding: 20px;
        }
  
        .photos-item {
          float: left;
          width: 50%;
          height: 184px;
          box-sizing: border-box;
          flex-shrink: 0;

          .photos-item-image-wrap {
            height: 100%;
            display:block;
            position: relative;
            overflow: hidden;

            .photos-item-image {
              left: 50%;
              top: 50%;
              width: 100%;
              position: relative;
              transform: translate(-50%, -50%);
            }
          }
        }
      }
    }
  }

}
